<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Upload picture and get poem</h1>
<form id="fileapp">
    <input type="file" name="file">
    <input type="submit">
</form>
<div id="messages"></div>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>
    let webSocket = new SockJS("/ws"); // Замените на URL вашего WebSocket сервера

    webSocket.onopen = function () {
        console.log('Connected to WebSocket');
    };

    webSocket.onerror = function (error) {
        console.error('WebSocket Error: ' + error);
    };
    let stompClient = Stomp.over(webSocket);

    stompClient.connect({}, function (frame) {
        console.log('Connected stompClient to WebSocket');

    let fileapp=document.getElementById('fileapp');
    fileapp.onsubmit=(e)=>{
        e.preventDefault();
        const formData = new FormData(fileapp);
        fetch('/job', {
            method: "POST",
            body: formData,
        })
            .then (res=>{
                //console.log(res);
                return res.text();
            })
            .then (jobId=>{

                jobId = jobId.replace('"', '');
                jobId = jobId.replace('"', '');
                console.log(jobId);
                stompClient.subscribe('/topic/' + jobId ,  function (message) {
                    let msg = JSON.parse(message.body);
                    console.log(msg);

                    let p = document.createElement("p");
                    p.innerText = msg.sender + " : " + msg.content;
                    document.getElementById("messages").appendChild(p);

                })

            })
        return false;
    }
    })


</script>
</body>
</html>